{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}
{{#hasDescription}}
<div class="reportSection">
  <h4>Description</h4>
  <p>{{description}}</p>
</div>
{{/hasDescription}}

<div class="reportSection size">
  <h4>Size</h4>
  <p>
    {{diameterText}}
  </p>
  <p>
    min: {{MIN_DIAM}}, max: {{MAX_DIAM}}
  </p>
</div>
