{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}

<div class="reportSection size">
  <h4>Size</h4>
  <p class="large">
    This protected area is <strong>{{SQ_MILES}} square miles</strong>.
  </p>
</div>

<div class="reportSection diameter {{^DIAM_OK}}warning{{/DIAM_OK}}">
  <h4>Minimum Width</h4>
  <p>
    The minimum width of a zone significantly impacts  its conservation value. 
    The recommended smallest diameter is between 2 and 3 miles.
    <strong>
    {{^DIAM_OK}}
    This design falls outside the recommendation at {{DIAM}} miles.
    {{/DIAM_OK}}
    {{#DIAM_OK}}
    This design fits within the recommendation at {{DIAM}} miles.
    {{/DIAM_OK}}
    </strong>
  </p>
  <div class="viz" style="position:relative;"></div>
  <img src="http://s3.amazonaws.com/SeaSketch/projects/barbuda/min_width_example.png">
</div>

{{#hasDescription}}
<div class="reportSection">
  <h4>Description</h4>
  <p>{{description}}</p>
</div>
{{/hasDescription}}
