<div class="reportSection">
  <h4>Fishing Value</h4>
  <p class="large">
    This aquaculture area displaces <strong>{{percent}}%</strong> 
    of the fishing value within Barbuda’s waters, based on user reported
    values of fishing grounds.
  </p>
  <a href="#" data-toggle-node="5241ea7de0fba11f3d010011">show fishing values layer</a>
</div>
