{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}

<div class="reportSection size">
  <h4>Size</h4>
  <p class="large">
    This collection of {{numSketches}} zones has a total area of <strong>{{SQ_MILES}} square miles</strong>.
  </p>
</div>

{{#anyAttributes}}
<div class="reportSection">
  <h4>{{sketchClass.name}} Attributes</h4>
  {{>attributes/attributesTable}}
  </table>
</div>
{{/anyAttributes}}